#grid-container {
	margin-left: ~"calc(50% - 200px)";
	margin-top: ~"calc(50vh - 200px)";
}
.grid {
	height: 400px;
	width: 400px;
	border: 1px solid white;
}
grid-row:first-child {
	border-top: 1px solid white;
}
.grid-row {
	height: 40px;
	width: 100%;
	display: inline-flex;
}
.grid-row > .grid-cell {
	border-left: 1px solid white;
}
.grid-cell {
	height: 40px;
	width: 40px;
	padding: 5px;
	border: 1px solid white;
}