<div class="row">
    <div class="col-xs-12 col-md-8 game-panel">
        <div id="grid-container"></div>
    </div>
    <div class="col-xs-12 col-md-4 options-panel">
        <div class="options-form">
            <input type="text" class="action-input" data-val="true"
                    pattern="[a-zA-Z0-9]{2}"
                    placeholder="Enter Position"
                    data-val-required="You must enter a position to fire on"
                    id="position" name="position" value="" />
            <button class="action-button" type="submit" onclick="fireTorpedo()">FIRE!</button>
        </div>
    </div>
</div>
