@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
@-webkit-keyframes fadeinout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#grid-container {
  margin-left: calc(50% - 200px);
  margin-top: calc(50vh - 200px);
}
@media (min-width: 1000px) {
  #grid-container {
    margin-left: calc(50% - 300px);
    margin-top: calc(50vh - 300px);
  }
}
@media (min-width: 1500px) {
  #grid-container {
    margin-left: calc(50% - 350px);
    margin-top: calc(50vh - 350px);
  }
}
.grid {
  height: 400px;
  width: 400px;
  border: 1px solid white;
}
@media (min-width: 1000px) {
  .grid {
    height: 600px;
    width: 600px;
  }
}
@media (min-width: 1500px) {
  .grid {
    height: 700px;
    width: 700px;
  }
}
grid-row:first-child {
  border-top: 1px solid white;
}
.grid-row {
  height: 40px;
  width: 100%;
  display: inline-flex;
}
@media (min-width: 1000px) {
  .grid-row {
    height: 60px;
  }
}
@media (min-width: 1500px) {
  .grid-row {
    height: 70px;
  }
}
.grid-row > .grid-cell {
  border-left: 1px solid white;
}
.grid-cell {
  height: 40px;
  width: 40px;
  padding: 5px;
  border: 1px solid white;
  font-size: 21px;
  padding-left: 10px;
}
@media (min-width: 1000px) {
  .grid-cell {
    height: 60px;
    width: 60px;
    padding: 10px;
    font-size: 22px;
  }
}
@media (min-width: 1500px) {
  .grid-cell {
    height: 70px;
    width: 70px;
    padding: 15px;
    font-size: 24px;
  }
}
.red-icon {
  color: #962d2d;
}
.orange-icon {
  color: #F0B13C;
}
.green-icon {
  color: #40B34F;
}
body,
html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  height: 100vh;
  width: 100%;
}
.content-panel {
  padding: 10px;
  height: 100vh;
}
.game-panel {
  padding: 10px;
  height: 100vh;
  background-color: #2E3C54;
}
.end-game-panel {
  padding: 10px;
  height: 100vh;
  background-color: #33363a;
  transition: background-color 1s;
}
.options-panel {
  padding: 10px;
  height: 100vh;
}
.options-form {
  margin: auto;
  padding: 10px;
  margin-top: 60%;
}
.title-font {
  color: white;
  font-size: 40px;
}
.controls {
  border: 2px solid #2E3C54;
  color: #2E3C54;
  border-radius: 5px;
  font-size: 18px;
  padding: 5px;
  width: 200px;
  height: 60px;
}
.action-button {
  border: 2px solid #2E3C54;
  color: #2E3C54;
  border-radius: 5px;
  padding: 5px;
  width: 200px;
  height: 60px;
  font-weight: 600;
  font-size: 18px;
  background-color: #2E3C54;
  color: white;
  margin-top: 15px;
}
.action-button:hover {
  background-color: white;
  color: #2E3C54;
  transition: color 0.2s, background-color 0.2s;
}
.action-input {
  border: 2px solid #2E3C54;
  color: #2E3C54;
  border-radius: 5px;
  font-size: 18px;
  padding: 5px;
  width: 200px;
  height: 60px;
  text-transform: uppercase;
}
.action-input::-webkit-input-placeholder,
.action-input:-moz-placeholder,
.action-input::-moz-placeholder,
.action-input:-ms-input-placeholder {
  font-size: 18px;
  color: #717070;
  font-weight: 300;
}
.action-message {
  margin-top: 20px;
}
.action-message > span {
  font-size: 16px;
  color: #962d2d;
}
.action-message-anim {
  -webkit-animation: fadeinout 4s linear 1 forwards;
  animation: fadeinout 4s linear 1 forwards;
}
/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}
/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
  width: 100%;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none;
  }
}
